
<aside class="contendor_notas_principales">
				
				<div class="destacado_primarios_f">
				
				<div class="destacado_primarios">
					<div class="tit_destacado">
						<h1><a href="{{destacado1[0].url}}">{{destacado1[0].titulo}}</a></h1>
						<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_{{destacado1[0].red_social}}.png"></div>
					</div>
					<img src="{{destacado1[0].imagen_real}}">
				</div>

				</div>

				
				<div class="destacado_secundarios_f">
					<div class="destacado_secundarios destacado_secundarios_bor">
						<div class="tit_destacado_sec">
							<h1><a href="{{destacado2[0].url}}">{{destacado2[0].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_med_{{destacado2[0].red_social}}.png"></div>
						</div>
						<img src="{{destacado2[0].imagen_real}}">
					</div>

					<div class="destacado_secundarios">
						<div class="tit_destacado_sec">
							<h1><a href="{{destacado2[1].url}}">{{destacado2[1].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_med_{{destacado2[1].red_social}}.png"></div>
						</div>
						<img src="{{destacado2[1].imagen_real}}">
					</div>
				</div>

				<div class="destacados_terciarios_f">
					
					<div class="destacados_terciarios">
						<div class="tit_destacado_ter">
							<h1><a href="{{destacado3[0].url}}">{{destacado3[0].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_th_{{destacado3[0].red_social}}.png"></div>
						</div>
						<img src="{{destacado3[0].imagen_real}}">
					</div>
					<div class="destacados_terciarios">
						<div class="tit_destacado_ter">
							<h1><a href="{{destacado3[1].url}}">{{destacado3[1].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_th_{{destacado3[1].red_social}}.png"></div>
						</div>
						<img src="{{destacado3[1].imagen_real}}">
					</div>
					<div class="destacados_terciarios">
						<div class="tit_destacado_ter">
							<h1><a href="{{destacado3[2].url}}">{{destacado3[2].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_th_{{destacado3[2].red_social}}.png"></div>
						</div>
						<img src="{{destacado3[2].imagen_real}}">
					</div>
					<div class="destacados_terciarios">
						<div class="tit_destacado_ter">
							<h1><a href="{{destacado3[3].url}}">{{destacado3[3].titulo}}</a></h1>
							<div class="tit_destacado_icon"><img src="/assets/img/destac_social_icon_th_{{destacado3[3].red_social}}.png"></div>
						</div>
						<img src="{{destacado3[3].imagen_real}}">
					</div>

				</div>

			</aside>

			<aside class="centro_izq">
				<div class="contenedor_ranking_lectoria">
					<h3>Ranking de Lectoría</h3>
					<span class="linea_separacion_ranking"><span class="linea_sep_color"></span></span>
					
					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">1</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación en “Viva Dichato”</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_twitter_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">2</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_instagram_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">3</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_facebook_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">4</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación en “Viva Dichato”</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_twitter_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">5</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_instagram_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">6</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_facebook_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">7</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación en “Viva Dichato”</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_twitter_ch_seccion.jpg">
						</div>
					</article>

					<article class="contenedor_articulos_ranking">
						<div class="contenedor_ranking_img">
							<span class="orden_ranking">8</span>
							<span class="ranking_img"><img src="/assets/img/ranking_img.jpg"></span>
						</div>

						<div class="contenido_txt_ranking">
							<a href="#">Leo Rey y sus descargas contra Alexítico tras su presentación</a>
							<span class="tiempo_ranking">hace 12 horas</span>
						</div>	
						
						<div class="contenedor_social_ranking">
							<img src="/assets/img/icon_instagram_ch_seccion.jpg">
						</div>
					</article>

				</div>
			</aside>

			<aside class="centro_der">
				
				<div class="contenedor_seccion borde_seccion_nacional">
					
					<div class="titulo_seccion_f borde_seccion_titulo_nacional">
	
						<div class="contenedor_titulo_sec color_seccion_nacional">
							<div class="titulo_sec">
								<a href="#">Nacional <div class="titulo_sec_icon"></div> </a>
							</div>
						</div>

					</div>

					<section class="contenedor_cajas_seccion">
							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_01.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_02.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_facebook_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_03.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_04.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_05.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>
					</section>

				</div>

				<div class="contenedor_seccion borde_seccion_internacional">
					
					<div class="titulo_seccion_f borde_seccion_titulo_internacional">
	
						<div class="contenedor_titulo_sec color_seccion_internacional">
							<div class="titulo_sec">
								<a href="#">Internacional <div class="titulo_sec_icon"></div> </a>
							</div>
						</div>

					</div>

					<section class="contenedor_cajas_seccion">
							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_internacional">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_01.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_internacional">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_02.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_internacional">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_facebook_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_03.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_internacional">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_04.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_internacional">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_05.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>
					</section>

				</div>

				<div class="contenedor_seccion borde_seccion_deportes">
					
					<div class="titulo_seccion_f borde_seccion_titulo_deportes">
	
						<div class="contenedor_titulo_sec color_seccion_deportes">
							<div class="titulo_sec">
								<a href="#">Deportes <div class="titulo_sec_icon"></div> </a>
							</div>
						</div>

					</div>

					<section class="contenedor_cajas_seccion">
							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_deportes">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_01.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_deportes">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_02.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_deportes">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_facebook_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_03.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_deportes">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_04.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_deportes">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_05.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>
					</section>

				</div>

				<div class="contenedor_seccion borde_seccion_farandula">
					
					<div class="titulo_seccion_f borde_seccion_titulo_farandula">
	
						<div class="contenedor_titulo_sec color_seccion_farandula">
							<div class="titulo_sec">
								<a href="#">Farándula <div class="titulo_sec_icon"></div> </a>
							</div>
						</div>

					</div>

					<section class="contenedor_cajas_seccion">
							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_farandula">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_01.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_farandula">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_02.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_farandula">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_facebook_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_03.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_farandula">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_twitter_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_04.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>

							<article class="contenedor_seccion_item">
								
								<div class="contenedor_seccion_item_img borde_seccion_item_img_farandula">
									<div class="contenedor_icon_social_sec">
										<img src="/assets/img/icon_instagram_med_seccion.jpg">
									</div>
									<a href="#"><img src="/assets/img/item_secc_05.jpg"></a>
								</div>
								
								<h4>
									<a href="#">Pamela Díaz inicia la polémica entre las candidatas a reina...</a>
								</h4>

							</article>
					</section>

				</div>

			</aside>