@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border:0;
}

img {
	vertical-align: top;
}

html { 

	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: Arial;
	font-size: 12px;
	color:#000;
	background: #fbfbfb;
	overflow-x: hidden;
}

a { 
	color: #353535; 
	text-decoration: none; 
}

a:hover {
	 color: #353535; 
	 text-decoration:underline; 
}

li {
	list-style-type: none;
}

:focus {
	outline:none;
}

@font-face {
    font-family: 'museo100';
    src: url('../fonts/museo100-regular-webfont.eot');
    src: url('../fonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo100-regular-webfont.woff') format('woff'),
         url('../fonts/museo100-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo300-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo900-regular-webfont.eot');
    src: url('../fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo900-regular-webfont.woff') format('woff'),
         url('../fonts/museo900-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

header	{
	float: left;
	width: 100%;
	height: 67px;
	background: url(../img/f_text.png) #2e3031;
	border-bottom: 2px solid #ff7340;
}

footer {
	float: left;
	width: 100%;
	height: 70px;
	background: url(../img/f_text.png) #2e3031;
	border-top: 1px solid #ff7340;
	bottom: 0;
}

.contenedor_header {
	width: 1280px;
	margin:0 auto;
	background: #ccc;
}

.logo_crabi {
	float: left;
	margin-right: 79px;
}

.buscador_crabi_header {
	float: right;
	padding-top: 15px;
	padding-right: 20px;
}

.buscador_crabi_header input[type="buscador"] {
	font-size: 12px;
	width: 182px;
	float: left;
	height: 38px;
	line-height: 38px;
	border: none;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	border-radius: 0px;
}

.boton_buscar_header {
	float: left;
}

.contenedor_centro_f {
	float: left;
	width: 100%;
}

.contenedor_centro {
	width: 1280px;
	margin:0 auto;
	background: #fff;
	/*display: flex;*/
	display: table;

	/* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07); */

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

}

.contenedor_footer {
	width: 1280px;
	margin: 0 auto;
}

.logo_footer {
	float: left;
	padding-top: 16px;
	padding-left: 26px;
}

.subir_top {
	float: right;
	margin-top: 16px;
	margin-right: 21px;
}

.creditos_crabi {
	float: left;
	color: #fff;
}

.creditos_crabi h3 {
	font-family: 'museo500';
	font-size: 13px;
	font-weight: normal;
	line-height: 66px;
	padding-top: 3px;
	padding-left: 15px;
}

.navegacion_header {
	float: left;
	line-height: 69px;
}

.navegacion_header li {
	font-family: 'museo300';
	font-size: 18px;
	display: inline;
	margin-right: 10px;

}

.navegacion_header li a {
	color: #fff;
	line-height: 26px;
	padding: 4px 10px;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.navegacion_header li a:hover {
	color: #fff;
	line-height: 26px;
	padding: 4px 10px;
	text-decoration: none;
}

.bt_nacional:hover {
	background: #e14d43;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.bt_internacional:hover {
	background: #3dbfd9;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.bt_deportes:hover {
	background: #88c462;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.bt_farandula:hover {
	background: #ff963a;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.contenedor_centro div {
/*	display: block;*/
}

.contendor_notas_principales {
	float: left;
	width: 100%;
	border-bottom: 5px solid #ff7340;
	/*margin-bottom: 50px;*/
}

.destacado_primarios_f {
	float: left;
	width: 604px;	
}

.destacado_primarios {
	float: left;
	overflow: hidden;
	width: 599px;
	border-right: 5px solid #ff7340;
	height: 372px;
	overflow: hidden;
}

.destacado_secundarios_f {
	float: left;
	width: 415px;
}

.destacado_secundarios {
	float: left;
	max-width: 415px;
	height: 183px;
	overflow: hidden;
}

.destacado_secundarios_bor {
	border-bottom: 5px solid #ff7340;
}

.destacados_terciarios_f {
	float: left;
	width: 256px;
	border-left: 2px solid #ff7340;
	border-right: 2px solid #ff7340;
}

.destacados_terciarios {
	float: left;
	width: 256px;
	height: 91px;
	overflow: hidden;
	border-bottom: 2px solid #ff7340;
}

.destacado_container img {
	width: 100%;
}

.tit_destacado {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 81px;
	margin: 251px 0 0 0;
	width: 569px;
	z-index: 5;
	padding: 0 0 0 30px;
}

.tit_destacado h1 {
	float: left;
	width: 83%;
	padding: 14px 0 0 0;
}

.tit_destacado h1 a {
	font-family: 'museo500';
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}

.tit_destacado_icon {
	float: right;
}

.tit_destacado_sec {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 65px;
	margin: 119px 0 0 0;
	width: 385px;
	z-index: 5;
	padding: 0 0 0 30px;
}

.tit_destacado_sec h1 {
	float: left;
	width: 81%;
	padding: 14px 0 0 0;
}

.tit_destacado_sec h1 a {
	font-family: 'museo500';
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}

.tit_destacado_ter {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 40px;
	margin: 51px 0 0 0;
	width: 245px;
	z-index: 5;
	padding: 0 0 0 11px;
}

.tit_destacado_ter h1 {
	float: left;
	width: 80%;
	padding: 6px 0 0 0;
}

.tit_destacado_ter h1 a {
	font-family: 'museo500';
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}
	
.centro_izq {
	float: left;
	width: 367px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.centro_der {
	float: left;
	width: 865px;
	padding: 25px 20px 50px 24px;
}

.contenedor_seccion {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.titulo_seccion_f {
	float: left;
	width: 100%;
}

.contenedor_titulo_sec {
	float: left;
}

.titulo_sec {
	float: left;
	font-family: 'museo500';
	font-size: 21px;

	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.titulo_sec:hover {
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;

	background: rgba(0, 0, 0, 0.1);
}

.titulo_sec a {
	position: relative;
	padding: 0 12px;
	color: #fff;
	display: inline;
	top: 9px;
}

.titulo_sec a:hover {
	text-decoration: none;
}

.titulo_sec_icon {
	float: right;
	width: 40px;
	height: 40px;
	background: url(../img/flecha_seccion.png) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.1);
}

.contenedor_cajas_seccion {
	float:left;
	width: 100%;
	padding: 20px 0 26px 0;
}

.contenedor_seccion_item {
	float: left;
	width: 140px;
	margin-right: 41px;
}

.contenedor_seccion_item:last-child {
	margin-right: 0;	
}

.contenedor_seccion_item_img {
	float: left;
	width: 140px;
	height: 105px;
	overflow: hidden;
}

.contenedor_seccion_item_img a img
{
	width: 100%;
	height: auto;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.contenedor_seccion_item_img:hover a img
{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.contenedor_icon_social_sec {
	position: absolute;
	z-index: 5;
	margin: 75px 0 0 110px;
}

.contenedor_seccion_item h4 {
	float: left;
	width: 100%;
	font-size: 13px;
	font-weight: normal;
	padding: 11px 0 0 0;
	line-height: 18px;
}

.contenedor_seccion_item h4 a {
	color: #444;
}

/* NACIONAL COLOR */
.color_seccion_nacional {
	background: #e14d43;
}

.borde_seccion_item_img {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img:hover {
	border-color: #e14d43;
}

.borde_seccion_nacional {
	border-bottom: 2px solid rgba(255, 77, 67, 0.7);
}

.borde_seccion_titulo_nacional {
	border-bottom: 1px solid #ca453c;
}

/* INTERNACIONAL COLOR */
.color_seccion_internacional {
	background: #3dbfd9;
}

.borde_seccion_item_img_internacional {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_internacional:hover {
	border-color: #3dbfd9;
}

.borde_seccion_internacional {
	border-bottom: 2px solid rgba(61, 191, 217, 0.7);
}

.borde_seccion_titulo_internacional {
	border-bottom: 1px solid #36abc2;
}

/* DEPORTES COLOR */
.color_seccion_deportes {
	background: #88c462;
}

.borde_seccion_item_img_deportes {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_deportes:hover {
	border-color: #88c462;
}

.borde_seccion_deportes {
	border-bottom: 2px solid rgba(136, 196, 98, 0.7);
}

.borde_seccion_titulo_deportes {
	border-bottom: 1px solid #7ab058;
}

/* FARANDULA COLOR */
.color_seccion_farandula {
	background: #ff963a;
}

.borde_seccion_item_img_farandula {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_farandula:hover {
	border-color: #ff963a;
}

.borde_seccion_farandula {
	border-bottom: 2px solid rgba(255, 150, 58, 0.7);
}

.borde_seccion_titulo_farandula {
	border-bottom: 1px solid #e58634;
}

.contenedor_ranking_lectoria {
	float: left;
	width: 327px;
	background: #f0f0f0;
	border-bottom: 5px solid #3c443d;
	padding: 38px 20px 37px 20px;
	
}

.contenedor_ranking_lectoria h3 {
	font-family: 'museo700';
	width: 100%;
	font-size: 20px;
	color: #343434;
	margin-bottom: 12px;
}

.linea_separacion_ranking {
	float: left;
	width: 100%;
	height: 5px;
	background: #a0a0a0;
	margin-bottom: 10px;
}

.linea_sep_color {
	float: right;
	width: 80px;
	height: 5px;
	background: #3c443d;
}

.contenedor_articulos_ranking {
	float: left;
	width: 100%;
	padding-top: 16px;
	border-bottom: 1px solid #dedede;
	box-shadow: 0 2px 0px #fff;
}

.contenedor_articulos_ranking a {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	line-height: 17px;
}

.contenedor_ranking_img {
	float: left;
	width: 91px;
	margin-right: 15px;
}

.orden_ranking {
	float: left;
	width: 29px;
	height: 35px;
	background: #28aae8;
	border-right: 1px solid #fff;
	text-align: center;
	font-family: 'museo700';
	font-size: 20px;
	color: #fff;
	padding-top: 12px; 
}

.ranking_img {
	float: left;
}

.contenedor_social_ranking {
	float: left;
	width: 100%;
	text-align: right;
}

.contenido_txt_ranking {
	float: left;
	width: 67%;
}

.tiempo_ranking {
	float: left;
	padding-top: 1px;
	width: 100%;
	color: #ae9999;
}

.contenedor_full_nota {
	float: left;
	width: 1202px;
	padding: 27px 39px 50px 39px;
}

.contenedor_notas_superiores {
	float: left;
	width: 100%;
	background: #e7e7e7;
	height: 200px;
}

.contenedor_contenido_notas {
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	padding-bottom: 50px;
}

.contenedor_contenido_notas_izq {
	float: left;
	width: 639px;
	padding: 36px 13px 0 18px;
}

.contenedor_contenido_notas_der {
	float: left;
	width: 490px;
	padding: 49px 20px 0 20px;
}

.contenedor_contenido_notas_izq h2 {
	float: left;
	font-family: 'museo300';
	font-size: 37px;
	width: 100%;
	color: #8D3A1B;
	line-height: 46px;
	padding-bottom: 33px;
}

.contenedor_video {
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 45px;
}

.contenedor_social_info {
	float: left;
	width: 100%;
	text-align: center;
}

.contenedor_contenido_notas_der p {
	float: left;
	width: 100%;
	line-height: 24px;
	color: #333;
	padding-bottom: 33px;
}

.contenedor_contenido_notas_der h3 {
	float: left;
	font-family: 'museo100';
	font-size: 26px;
	line-height: 34px;
	width: 100%;
	padding-bottom: 41px;
}

.comentarios_facebook {
	float: left;
	width: 100%;
	text-align: center;
}

.contenedor_cajas_seccion_nota {
	float: left;
	width: 100%;
	padding: 0 0 26px 0;
	z-index: 2;
	position: absolute;
}


.contenedor_seccion_item_nota {
	float: left;
	width: 140px;
	margin-right: 37px;
}

.contenedor_seccion_item_nota:last-child {
	margin-right: 0;
}

.borde_seccion_item_img_nota_nacional {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_nota_nacional:hover {
	border-color: #e14d43;
}

.contenedor_seccion_item_img_nota {
	float: left;
	width: 140px;
	height: 105px;
	overflow: hidden;
}

.contenedor_seccion_item_img_nota a img
{
	width: 100%;
	height: auto;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.contenedor_seccion_item_img_nota:hover a img
{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.contenedor_icon_social_sec_nota {
	position: absolute;
	z-index: 5;
	margin: 75px 0 0 110px;
}

.contenedor_seccion_item_nota h4 {
	float: left;
	width: 96%;
	font-size: 13px;
	font-weight: normal;
	padding: 11px 0 0 5px;
	line-height: 18px;
}

.navegar_x_nota {
	margin: 0 auto;
	position: absolute;
	z-index: 6;
	top: 900px;
	width: 100%;
}

.navegar_x_nota a {
	position: absolute;
	display: block;
}

.navegar_x_nota a.ant {
	left: -25px;
}

.navegar_x_nota a.sig {
	right: 45px;
}

.contenedor_nota_seleccionada {
	position: absolute;
	margin: 0 auto;
	padding: 10px;
	-webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	background: #fff;
	z-index: 2;
	top: 86px;
	left: 752px;
	width: 140px;
	height: 190px;
}

.credito_inicial {
	float: left;
}

/* SLIDER CRABI.LA */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; display: none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; /*border: 4px solid #fff; */position: relative; /*-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); */ zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

/* SLIDER CRABI.LA FIN */

/*@media only screen and (min-width: 320px) and (max-width: 360px) {}
@media only screen and (min-width: 361px) and (max-width: 640px) {} */

/* RESPONSIVE CRABI.LA */

@media only screen and (max-width: 360px) { /* IPHONE VERTICAL */
	
	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		width: 100%;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 94%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 5px;
		margin-left: 5px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	/*.contenedor_cajas_seccion {
		padding: 20px 0 0 0;
	}*/

	.contenedor_cajas_seccion {
		float: none;
		width: 300px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}

	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:65%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 72%;
		color: #fff;
		padding: 7px 3px 0 9px;
		font-size: 17px;
	}

	.slider_icon_social {
		float: left;
		width: 60px;
	}
}


@media only screen and (min-width: 361px) and (max-width: 640px) { /* IPHONE HORIZONTAL */
	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		width: 100%;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 96%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 5px;
		margin-left: 5px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	.contenedor_cajas_seccion {
		/*padding: 20px 0 0 0;*/
		float: none;
		width: 451px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}

	.contenedor_cajas_seccion article:nth-child(4) {
		display: none;
	}

	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:65%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 79%;
		color: #fff;
		padding: 7px 3px 0 9px;
		font-size: 17px;
	}

	.slider_icon_social {
		float: left;
		width: 60px;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px) { /* IPAD VERTICAL */

	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		float: left;
		width: 100%;
		margin-right: 30px;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 96%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 15px;
		margin-left: 15px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	.contenedor_cajas_seccion {
		/*padding: 20px 0 0 0;*/
		float: none;
		width: 680px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}


	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:70%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 76%;
		color: #fff;
		padding: 7px 3px 0 20px;
		font-size: 31px;
	}

	.slider_icon_social {
		float: left;
		width: 91px;
	}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /* IPAD HORIZONTAL */
	.centro_der {
		width: 611px;
	}

	.contenedor_footer {
		width: 100%;
		margin: 0 auto;
	}

	.contenedor_cajas_seccion article:nth-child(5) {
		display: none;
	}

	.contenedor_seccion_item { 
		margin-right: 12px;
	}

	.contendor_notas_principales {
		width: 79%;
	}

	.destacado_secundarios_f {
		width: 403px;
	}

	.destacado_secundarios {
		width: 201px;
		border-bottom: 5px solid #ff7340;
	}

	.tit_destacado_sec {
		width: 17%;
		margin: 118px 0 0 0;
	}

	.destacados_terciarios_f {
		width: 400px;
	}

	.destacados_terciarios {
		width: 199px;
		height: 90px;
		border-right: 1px solid #ff7340;
	}

	.tit_destacado_ter {
		width: 188px;
		margin: 50px 0 0 0;
	}

}


/*@media only screen and (min-width: 481px) and (max-width: 539px) { 

}

@media only screen and (min-width: 540px) and (max-width: 639px) {

}

@media only screen and (min-width: 640px) and (max-width: 767px) { 

}



@media only screen and (min-width: 855px) and (max-width: 960px) { 

} */



