@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border:0;
}

img {
	vertical-align: top;
}

html { 

	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: Arial;
	font-size: 12px;
	color:#000;
	background: #fbfbfb;
	overflow-x: hidden;
}

a { 
	color: #353535; 
	text-decoration: none; 
}

a:hover {
	 color: #353535; 
	 text-decoration:underline; 
}

li {
	list-style-type: none;
}

:focus {
	outline:none;
}

@font-face {
    font-family: 'museo100';
    src: url('../fonts/museo100-regular-webfont.eot');
    src: url('../fonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo100-regular-webfont.woff') format('woff'),
         url('../fonts/museo100-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo300-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo900-regular-webfont.eot');
    src: url('../fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo900-regular-webfont.woff') format('woff'),
         url('../fonts/museo900-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

header	{
	float: left;
	width: 100%;
	height: 67px;
	background: url(../img/f_text.png) #2e3031;
	border-bottom: 2px solid #ff7340;
}

footer {
	float: left;
	width: 100%;
	height: 70px;
	background: url(../img/f_text.png) #2e3031;
	border-top: 1px solid #ff7340;
	bottom: 0;
}

.contenedor_header {
	/*width: 1280px;*/
	width: 100%;
	margin:0 auto;
	background: #ccc;
}

.logo_crabi {
	float: left;
	margin-right: 79px;
}

.buscador_crabi_header {
	float: right;
	padding-top: 15px;
	padding-right: 20px;
}

.buscador_crabi_header input[type="buscador"] {
	font-size: 12px;
	width: 182px;
	float: left;
	height: 38px;
	line-height: 38px;
	border: none;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	border-radius: 0px;
}

.boton_buscar_header {
	float: left;
}

.contenedor_centro_f {
	float: left;
	width: 100%;
}

.contenedor_centro {
	width: 1280px;
	margin:0 auto;
	background: #fff;
	/*display: flex;*/
	display: table;

	/* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07); */

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

}

.contenedor_footer {
	width: 1280px;
	margin: 0 auto;
}

.logo_footer {
	float: left;
	padding-top: 16px;
	padding-left: 26px;
}

.subir_top {
	float: right;
	margin-top: 16px;
	margin-right: 21px;
}

.creditos_crabi {
	float: left;
	color: #fff;
}

.creditos_crabi h3 {
	font-family: 'museo500';
	font-size: 13px;
	font-weight: normal;
	line-height: 66px;
	padding-top: 3px;
	padding-left: 15px;
}

.navegacion_header {
	float: left;
	line-height: 69px;
}

.navegacion_header li {
	font-family: 'museo300';
	font-size: 18px;
	display: inline;
	margin-right: 10px;

}

.navegacion_header li a {
	color: #fff;
	line-height: 26px;
	padding: 4px 10px;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.navegacion_header li a:hover {
	color: #fff;
	line-height: 26px;
	padding: 4px 10px;
	text-decoration: none;
}

.bt_nacional:hover {
	background: #e14d43;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
}

.bt_internacional:hover {
	background: #3dbfd9;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.bt_deportes:hover {
	background: #88c462;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.bt_farandula:hover {
	background: #ff963a;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.contenedor_centro div {
/*	display: block;*/
}

.contendor_notas_principales {
	float: left;
	width: 100%;
	border-bottom: 5px solid #ff7340;
	/*margin-bottom: 50px;*/
}

.destacado_primarios_f {
	float: left;
	width: 604px;	
}

.destacado_primarios {
	float: left;
	overflow: hidden;
	width: 599px;
	border-right: 5px solid #ff7340;
	height: 372px;
	overflow: hidden;
}

.destacado_secundarios_f {
	float: left;
	width: 415px;
}

.destacado_secundarios {
	float: left;
	max-width: 415px;
	height: 183px;
	overflow: hidden;
}

.destacado_secundarios_bor {
	border-bottom: 5px solid #ff7340;
}

.destacados_terciarios_f {
	float: left;
	width: 256px;
	border-left: 2px solid #ff7340;
	border-right: 2px solid #ff7340;
}

.destacados_terciarios {
	float: left;
	width: 256px;
	height: 91px;
	overflow: hidden;
	border-bottom: 2px solid #ff7340;
}

.destacado_container img {
	width: 100%;
}

.tit_destacado {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 81px;
	margin: 251px 0 0 0;
	width: 569px;
	z-index: 5;
	padding: 0 0 0 30px;
}

.tit_destacado h1 {
	float: left;
	width: 83%;
	padding: 14px 0 0 0;
}

.tit_destacado h1 a {
	font-family: 'museo500';
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}

.tit_destacado_icon {
	float: right;
}

.tit_destacado_sec {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 65px;
	margin: 119px 0 0 0;
	width: 385px;
	z-index: 5;
	padding: 0 0 0 30px;
}

.tit_destacado_sec h1 {
	float: left;
	width: 81%;
	padding: 14px 0 0 0;
}

.tit_destacado_sec h1 a {
	font-family: 'museo500';
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}

.tit_destacado_ter {
	float: left;
	background: url(../img/bg_destacdos.png);
	position: absolute;
	height: 40px;
	margin: 51px 0 0 0;
	width: 245px;
	z-index: 5;
	padding: 0 0 0 11px;
}

.tit_destacado_ter h1 {
	float: left;
	width: 80%;
	padding: 6px 0 0 0;
}

.tit_destacado_ter h1 a {
	font-family: 'museo500';
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	
}
	
.centro_izq {
	float: left;
	width: 367px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.centro_der {
	float: left;
	width: 865px;
	padding: 25px 20px 50px 24px;
}

.contenedor_seccion {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.titulo_seccion_f {
	float: left;
	width: 100%;
}

.contenedor_titulo_sec {
	float: left;
}

.titulo_sec {
	float: left;
	font-family: 'museo500';
	font-size: 21px;

	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.titulo_sec:hover {
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;

	background: rgba(0, 0, 0, 0.1);
}

.titulo_sec a {
	position: relative;
	padding: 0 12px;
	color: #fff;
	display: inline;
	top: 9px;
}

.titulo_sec a:hover {
	text-decoration: none;
}

.titulo_sec_icon {
	float: right;
	width: 40px;
	height: 40px;
	background: url(../img/flecha_seccion.png) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.1);
}

.contenedor_cajas_seccion {
	float:left;
	width: 100%;
	padding: 20px 0 26px 0;
}

.contenedor_seccion_item {
	float: left;
	width: 140px;
	margin-right: 41px;
}

.contenedor_seccion_item:last-child {
	margin-right: 0;	
}

.contenedor_seccion_item_img {
	float: left;
	width: 140px;
	height: 105px;
	overflow: hidden;
}

.contenedor_seccion_item_img a img
{
	width: 100%;
	height: auto;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.contenedor_seccion_item_img:hover a img
{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.contenedor_icon_social_sec {
	position: absolute;
	z-index: 5;
	margin: 75px 0 0 110px;
}

.contenedor_seccion_item h4 {
	float: left;
	width: 100%;
	font-size: 13px;
	font-weight: normal;
	padding: 11px 0 0 0;
	line-height: 18px;
}

.contenedor_seccion_item h4 a {
	color: #444;
}

/* NACIONAL COLOR */
.color_seccion_nacional {
	background: #e14d43;
}

.borde_seccion_item_img {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img:hover {
	border-color: #e14d43;
}

.borde_seccion_nacional {
	border-bottom: 2px solid rgba(255, 77, 67, 0.7);
}

.borde_seccion_titulo_nacional {
	border-bottom: 1px solid #ca453c;
}

/* INTERNACIONAL COLOR */
.color_seccion_internacional {
	background: #3dbfd9;
}

.borde_seccion_item_img_internacional {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_internacional:hover {
	border-color: #3dbfd9;
}

.borde_seccion_internacional {
	border-bottom: 2px solid rgba(61, 191, 217, 0.7);
}

.borde_seccion_titulo_internacional {
	border-bottom: 1px solid #36abc2;
}

/* DEPORTES COLOR */
.color_seccion_deportes {
	background: #88c462;
}

.borde_seccion_item_img_deportes {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_deportes:hover {
	border-color: #88c462;
}

.borde_seccion_deportes {
	border-bottom: 2px solid rgba(136, 196, 98, 0.7);
}

.borde_seccion_titulo_deportes {
	border-bottom: 1px solid #7ab058;
}

/* FARANDULA COLOR */
.color_seccion_farandula {
	background: #ff963a;
}

.borde_seccion_item_img_farandula {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_farandula:hover {
	border-color: #ff963a;
}

.borde_seccion_farandula {
	border-bottom: 2px solid rgba(255, 150, 58, 0.7);
}

.borde_seccion_titulo_farandula {
	border-bottom: 1px solid #e58634;
}

.contenedor_ranking_lectoria {
	float: left;
	width: 327px;
	background: #f0f0f0;
	border-bottom: 5px solid #3c443d;
	padding: 38px 20px 37px 20px;
	
}

.contenedor_ranking_lectoria h3 {
	font-family: 'museo700';
	width: 100%;
	font-size: 20px;
	color: #343434;
	margin-bottom: 12px;
}

.linea_separacion_ranking {
	float: left;
	width: 100%;
	height: 5px;
	background: #a0a0a0;
	margin-bottom: 10px;
}

.linea_sep_color {
	float: right;
	width: 80px;
	height: 5px;
	background: #3c443d;
}

.contenedor_articulos_ranking {
	float: left;
	width: 100%;
	padding-top: 16px;
	border-bottom: 1px solid #dedede;
	box-shadow: 0 2px 0px #fff;
}

.contenedor_articulos_ranking a {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	line-height: 17px;
}

.contenedor_ranking_img {
	float: left;
	width: 91px;
	margin-right: 15px;
}

.orden_ranking {
	float: left;
	width: 29px;
	height: 35px;
	background: #28aae8;
	border-right: 1px solid #fff;
	text-align: center;
	font-family: 'museo700';
	font-size: 20px;
	color: #fff;
	padding-top: 12px; 
}

.ranking_img {
	float: left;
}

.contenedor_social_ranking {
	float: left;
	width: 100%;
	text-align: right;
}

.contenido_txt_ranking {
	float: left;
	width: 67%;
}

.tiempo_ranking {
	float: left;
	padding-top: 1px;
	width: 100%;
	color: #ae9999;
}

.contenedor_full_nota {
	float: left;
	width: 1202px;
	padding: 27px 39px 50px 39px;
}

.contenedor_notas_superiores {
	float: left;
	width: 100%;
	background: #e7e7e7;
	height: 200px;
}

.contenedor_contenido_notas {
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.7);
	padding-bottom: 50px;
}

.contenedor_contenido_notas_izq {
	float: left;
	width: 639px;
	padding: 36px 13px 0 18px;
}

.contenedor_contenido_notas_der {
	float: left;
	width: 490px;
	padding: 49px 20px 0 20px;
}

.contenedor_contenido_notas_izq h2 {
	float: left;
	font-family: 'museo300';
	font-size: 37px;
	width: 100%;
	color: #8D3A1B;
	line-height: 46px;
	padding-bottom: 33px;
}

.contenedor_video {
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 45px;
}

.contenedor_social_info {
	float: left;
	width: 100%;
	text-align: center;
}

.contenedor_contenido_notas_der p {
	float: left;
	width: 100%;
	line-height: 24px;
	color: #333;
	padding-bottom: 33px;
}

.contenedor_contenido_notas_der h3 {
	float: left;
	font-family: 'museo100';
	font-size: 26px;
	line-height: 34px;
	width: 100%;
	padding-bottom: 41px;
}

.comentarios_facebook {
	float: left;
	width: 100%;
	text-align: center;
}

.contenedor_cajas_seccion_nota {
	float: left;
	width: 100%;
	padding: 0 0 26px 0;
	z-index: 2;
	position: absolute;
}


.contenedor_seccion_item_nota {
	float: left;
	width: 140px;
	/*margin-right: 37px;*/
}

.contenedor_seccion_item_nota:last-child {
	margin-right: 0;
}

.borde_seccion_item_img_nota_nacional {
	border-bottom: 5px solid #d1d1d1;
	transition: all 1s ease 0s;
}

.borde_seccion_item_img_nota_nacional:hover {
	border-color: #e14d43;
}

.contenedor_seccion_item_img_nota {
	float: left;
	width: 140px;
	height: 105px;
	overflow: hidden;
}

.contenedor_seccion_item_img_nota a img
{
	width: 100%;
	height: auto;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.contenedor_seccion_item_img_nota:hover a img
{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.contenedor_icon_social_sec_nota {
	position: absolute;
	z-index: 5;
	margin: 75px 0 0 110px;
}

.contenedor_seccion_item_nota h4 {
	float: left;
	width: 96%;
	font-size: 13px;
	font-weight: normal;
	padding: 11px 0 0 5px;
	line-height: 18px;
}

.navegar_x_nota {
	margin: 0 auto;
	position: absolute;
	z-index: 6;
	top: 900px;
	width: 100%;
}

.navegar_x_nota a {
	position: absolute;
	display: block;
}

.navegar_x_nota a.ant {
	left: -25px;
}

.navegar_x_nota a.sig {
	right: 45px;
}

.contenedor_nota_seleccionada {
	position: absolute;
	margin: 0 auto;
	padding: 10px;
	-webkit-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.3);
	background: #fff;
	z-index: 2;
	top: 86px;
	left: 560px;
	width: 140px;
	height: 190px;
}

.credito_inicial {
	float: left;
}

/* SLIDER CRABI.LA */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; display: none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; /*border: 4px solid #fff; */position: relative; /*-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); */ zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

/* SLIDER CRABI.LA FIN */

/* CARRUSEL CABRI.LA */

#disqus_thread{margin-top:20px;}
/**{-moz-box-sizing:border-box;box-sizing:border-box;}*/
.blue{background:#3498db;color:#fff;}
.blue h3{background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}
.button{background:#3498db;color:#fff;display:block;font-size:16px;margin:20px auto;padding:20px;text-align:center;text-decoration:none;width:48%;}
.buttons{padding:0 20px 20px; margin-bottom: 10px;}
.buttons .button{background:#FFF;color:#3498db;float:left;margin:5px;}
.center .slick-center h3{-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);-webkit-transform:scale(1.08);color:#e67e22;opacity:1;transform:scale(1.08);}
.center h3{opacity:0.8;transition:all 300ms ease;}
.content{margin:auto;width:103%;}
.content:after,.buttons::after{clear:both;content:"";display:table;}
.destroy{font-weight:400;margin-top:40px;}
.features{display:block;list-style-type:none;margin-top:30px;padding:0;text-align:center;}
.features li{margin:20px 0;}
.filter .button{background:#FFF;color:#3498db; margin-bottom: 40px;}
.fixed-header{background:#FFF;box-shadow:2px 0 5px rgba(0,0,0,0.5);display:none;padding:10px;position:fixed;top:0;width:100%;z-index:10000;}
.fixed-header .header-content{margin:auto;width:600px;}
.fixed-header .subheading{display:none;}
.fixed-header h1.title{float:left;font-size:24px;margin:0;}
.fixed-header ul.nav{float:right;margin:0;padding:5px;}
.fixed-header ul.nav li{margin:0 0 0 10px;}
.header{padding:20px 0;}
.margin-40{margin-bottom:40px;}
.more,.button.first{margin-top:40px;}
.red{background:#e74c3c;color:#fff;}
.slick-slide .image{padding:10px;}
.slick-slide img{/*border:5px */solid #FFF;display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{/*margin:30px auto 50px;*/}
.subheading{color:#555;font-size:12px;font-style:italic;font-weight:400;margin:10px auto;text-align:center;}
.white{background:#fff;color:#3498db;}
.white pre,.white hr{background:#3498db;}
/*a{color:#3498db;}
body,html{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background:#fff;font-family:'Lucida Grande', sans-serif;height:100%;line-height:1;margin:0;padding:0;text-rendering:optimizeLegibility;width:100%;}
code{color:#000; overflow-x: scroll;}
h1{color:#3498db;font-family:Pacifico;font-size:72px;font-weight:400;line-height:1.2;margin:0 auto 10px;text-align:center;}
h1.title{font-size:96px;}
h2{font-family:Pacifico;font-size:36px;margin:20px auto;text-align:center;}
h4{font-family:Pacifico;font-size:28px;margin:20px auto;text-align:center;}
hr{background:#fff;border:0;height:1px;margin:40px 0;}
p{font-size:18px;font-weight:700;line-height:1.5;margin-bottom:40px;text-align:center;}
p.guff{font-size:16px;}
pre{background:#fff;margin:0 10px 20px;padding:10px;}
section{width:100%;}
table{border-collapse:collapse;border-spacing:0;margin:40px auto;text-align:left;width:100%; table-layout: fixed; font-size: 14px; line-height: 1.4;}
tbody{background:#fff;border-color:#fff;}
td{background:#3498db;border:1px solid #fff;color:#fff;padding:10px;width:33%; vertical-align: top;}
th{border-left:1px solid #3498db;padding:10px;}
td:first-child { font-weight: bold;}
th.last{width: 230px;}
th.type {width: 80px;}
th.default { width: 100px; }
th:first-child{border-left:0;}
thead{background:#fff;border-color:#3498db;color:#3498db;}
tr{background:#fff;border-right:1px solid #fff;}
ul.nav{margin-bottom:0;padding-left:0;text-align:center;}
ul.nav li{display:inline-block;list-style-type:none;margin:0 20px;}
ul.nav li a{font-size:12px;text-decoration:none;}*/
@media (max-width: 420px) {
ul.nav li a{display:block;font-size:10px;}
}
@media (max-width: 768px) {
.blue h3{font-size:24px;}
.button{margin:0 auto 20px;width:auto;}
.button.first{margin-top:40px;}
.buttons{padding:0 0 20px;}
.buttons .button{float:left;font-size:12px;margin:1%;width:48%;}
.center{margin-left:-40px;margin-right:-40px;}
.center .slick-center h3{-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);color:#e67e22;opacity:1;transform:scale(1);}
.center h3{-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);-webkit-transform:scale(0.95);opacity:0.8;transform:scale(0.95);transition:all 300ms ease;}
.content{margin:auto;padding:25px 40px 8px 40px;width:auto;}
.fixed-header .header-content{width:auto;}
pre{font-size:12px; overflow-x: scroll;}
table{font-size:14px;line-height:18px;margin:40px auto 20px; display: block; float: left;}
tr { width: 100%; border-right: none; border-bottom: 1px solid #fff; margin: 0px 0px 20px; padding: 0px 0px 20px; background: transparent; float: left; }
thead { display: none; }
td { border: 0; padding: 10px 0px;}
td,tbody { display: block; width: 100% !important;}
table.settings td:nth-of-type(1), table.methods td:nth-of-type(1){font-weight: bold; font-size: 16px; line-height: 18px;}
table.settings td:nth-of-type(2):before{content: 'Type: '; font-weight: bold;}
table.settings td:nth-of-type(3):before{content: 'Default: '; font-weight: bold;}
table.methods td:nth-of-type(2):before{content: 'Arguments: '; font-weight: bold;}
}

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url(./ajax-loader.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */

/* Arrows */
.slick-prev { position: absolute; display: block; width: 32px; height: 54px; line-height: 0; font-size: 0; cursor: pointer; background: url(http://crabi.la/assets/img/fle_ant_notas.png) no-repeat; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-next { position: absolute; display: block; width: 32px; height: 54px; line-height: 0; font-size: 0; cursor: pointer; background: url(http://crabi.la/assets/img/fle_sig_notas.png) no-repeat; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }

.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: black; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { /*left: -25px; */ left: -37px; top:280px;}
.slick-prev:before { /*content: "\2190";*/  }

.slick-next { /*right: -25px;*/ right: 16px; top:280px;}
.slick-next:before { /*content: "\2192"; */}

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px 5px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; outline: none; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75; }


/* CARRUSEL CABRI.LA FIN */







/*@media only screen and (min-width: 320px) and (max-width: 360px) {}
@media only screen and (min-width: 361px) and (max-width: 640px) {} */

/* RESPONSIVE CRABI.LA */

@media only screen and (max-width: 360px) { /* IPHONE VERTICAL */
	
	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		width: 100%;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 94%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 5px;
		margin-left: 5px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	/*.contenedor_cajas_seccion {
		padding: 20px 0 0 0;
	}*/

	.contenedor_cajas_seccion {
		float: none;
		width: 300px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}

	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:65%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 72%;
		color: #fff;
		padding: 7px 3px 0 9px;
		font-size: 17px;
	}

	.slider_icon_social {
		float: left;
		width: 60px;
	}

	/* DESPLIEGUE */

	.contenedor_notas_superiores {
		/*display: none;*/
		height: auto;
	}

	.contenedor_cajas_seccion_nota {
		padding:0;
	}

	.contenedor_nota_seleccionada {
		top: 73px;
		left: 35%;
		width: 91px;
		padding: 7px 0 0 5px;
		height: 142px;
	}

	.contenedor_full_nota {
		width: 100%;
		padding: 0;
	}

	.contenedor_contenido_notas_izq {
		width: 90%;
		padding: 16px;
	}

	.contenedor_video img {
		width: 100%;
	}

	.contenedor_social_info img {
		width: 100%;
	}

	.contenedor_contenido_notas_der {
		width: 90%;
		padding: 16px;
	}

	.contenedor_contenido_notas_der p {
		font-size: 16px;
		line-height: 28px;
	}

	.navegar_x_nota a.ant {
		left: 2%;
	}

	.navegar_x_nota a.sig {
		right: 2%;
	}

	.comentarios_facebook img {
		width: 100%;
	}

	/* CARRUSEL */

	.content {
		padding: 11px 10px 11px 24px;
		width: auto;
		margin: auto;
	}
	
	.contenedor_seccion_item_img_nota {
		width: 80px;
		height: auto;
	}

	.contenedor_icon_social_sec_nota {
		margin: 30px 0 0 50px;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.slick-next {
		right: -15px;
		top: 40%;
		zoom: 60%;
	}

	.slick-prev {
		top: 40%;
		left: -37px;
		zoom: 60%;
	}

	.contenedor_seccion_item_nota h4 {
		width: 85%;
		padding: 7px 0 0 2px;
		overflow: hidden;
		height: 58px;
	}

}


@media only screen and (min-width: 361px) and (max-width: 640px) { /* IPHONE HORIZONTAL */
	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		width: 100%;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 96%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 5px;
		margin-left: 5px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	.contenedor_cajas_seccion {
		/*padding: 20px 0 0 0;*/
		float: none;
		width: 451px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}

	.contenedor_cajas_seccion article:nth-child(4) {
		display: none;
	}

	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:65%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 79%;
		color: #fff;
		padding: 7px 3px 0 9px;
		font-size: 17px;
	}

	.slider_icon_social {
		float: left;
		width: 60px;
	}

	/* DESPLIEGUE */

	.contenedor_notas_superiores {
		/*display: none;*/
		height: auto;
	}

	.contenedor_cajas_seccion_nota {
		padding:0;
	}

	.contenedor_nota_seleccionada {
		top: 75px;
		left: 41%;
		width: 84px;
		padding: 7px 0 0 7px;
		height: 158px;
	}

	.contenedor_full_nota {
		width: 100%;
		padding: 0;
	}

	.contenedor_contenido_notas_izq {
		width: 93%;
		padding: 17px;
	}

	.contenedor_video img {
		width: 100%;
	}

	.contenedor_social_info img {
		width: 100%;
	}

	.contenedor_contenido_notas_der {
		width: 93%;
		padding: 17px;
	}

	.contenedor_contenido_notas_der p {
		font-size: 16px;
		line-height: 28px;
	}

	.navegar_x_nota a.ant {
		left: 2%;
	}

	.navegar_x_nota a.sig {
		right: 2%;
	}

	.comentarios_facebook img {
		width: 100%;
	}

	/* CARRUSEL */

	.content {
		padding: 11px 10px 11px 22px;
		width: auto;
		margin: auto;
	}
	
	.contenedor_seccion_item_img_nota {
		width: 80px;
		height: auto;
	}

	.contenedor_icon_social_sec_nota {
		margin: 30px 0 0 50px;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.slick-next {
		right: -15px;
		top: 40%;
		zoom: 60%;
	}

	.slick-prev {
		top: 40%;
		left: -37px;
		zoom: 60%;
	}

	.contenedor_seccion_item_nota h4 {
		width: 70%;
		padding: 7px 0 0 0;
		overflow: hidden;
		height: 75px;
	}

}

@media only screen and (min-width: 641px) and (max-width: 768px) { /* IPAD VERTICAL */

	.contenedor_header {
		width: 100%;
	}

	.contenedor_footer {
		width: 100%;
	}

	.logo_crabi {
		float: left;
		width: 100%;
		margin-right: 30px;
	}

	.navegacion_header {
		display: none;
	}

	.buscador_crabi_header {
		display: none;
	}

	.creditos_crabi {
		width: 60%;
	}

	.credito_inicial {
		float: left;
		width: 100%;
	}

	.creditos_crabi h3 {
		width: 100%;
		padding: 0;
		line-height: 17px;
		padding: 18px 0 0 10px;
	}

	.logo_footer {
		padding: 16px 0 0 15px;
	}

	.subir_top {
		margin: 16px 15px 0 0;
	}

	/* CONTENIDO*/
	.contenedor_centro_f {
		display: block;
	}

	.contendor_notas_principales {
		display: none;
	}

	.centro_izq {
		display: none;
	}

	.contenedor_centro {
		width: 100%;
	}

	.centro_der {
		width: 96%;
		padding: 10px;
	}

	.contenedor_seccion_item {
		margin-right: 15px;
		margin-left: 15px;
	}

	.contenedor_seccion_item h4 {
		padding: 11px 0;
	}

	.contenedor_cajas_seccion {
		/*padding: 20px 0 0 0;*/
		float: none;
		width: 680px;
		margin: 0 auto;
	}

	.titulo_seccion_f {
		margin-bottom: 20px;
	}

	.borde_seccion_nacional {
		border: 0;
	}

	.borde_seccion_internacional {
		border: 0;
	}

	.borde_seccion_deportes {
		border: 0;
	}

	.borde_seccion_farandula {
		border: 0;
	}

	.contenedor_titulo_sec {
		width: 100%;
	}

	.titulo_sec {
		width: 100%;
	}

	.contenedor_cajas_seccion article:last-child {
		display: none;
	}


	.contenedor_seccion {
		margin-bottom: 5px;
	}
	
	/* SLIDER */

	.flexslider {
		display: block;
	}

	.cont_tit_slider {
		font-family: 'museo500';
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		width: 9%;
		background: url(../img/bg_destacdos.png);
		position: absolute;
		top:70%;
		display: block;
	}

	.cont_tit_slider a {
		float: left;
		width: 76%;
		color: #fff;
		padding: 7px 3px 0 20px;
		font-size: 31px;
	}

	.slider_icon_social {
		float: left;
		width: 91px;
	}

	/* DESPLIEGUE */

	.contenedor_notas_superiores {
		/*display: none;*/
		height: auto;
	}

	.contenedor_nota_seleccionada {
		/*display: none;*/
		top: 87px;
		left: 43%;
		width: 90px;
		padding: 11px 0 10px 5px;

	}

	.contenedor_full_nota {
		width: 100%;
		padding: 0;
	}

	.contenedor_contenido_notas_izq {
		width: 95%;
		padding: 19px;
	}

	.contenedor_video img {
		width: 100%;
	}

	.contenedor_social_info img {
		width: 100%;
	}

	.contenedor_contenido_notas_der {
		width: 95%;
		padding: 19px;
	}

	.contenedor_contenido_notas_der p {
		font-size: 16px;
		line-height: 28px;
	}

	.navegar_x_nota a.ant {
		left: 2%;
	}

	.navegar_x_nota a.sig {
		right: 2%;
	}

	.comentarios_facebook img {
		width: 100%;
	}

	.contenedor_cajas_seccion_nota {
		padding-bottom: 10px;
	}

	/* CARUSEL */
	.contenedor_seccion_item_img_nota {
		width: 80px;
		height: auto;
	}

	.contenedor_icon_social_sec_nota {
		margin: 30px 0 0 50px;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.slick-next {
		right: -35px;
		top: 40%;
	}

	.slick-prev {
		top: 40%;
	}

	.contenedor_seccion_item_nota h4 {
		width: 85%;
	}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /* IPAD HORIZONTAL */
	.centro_der {
		width: 611px;
	}

	.contenedor_footer {
		width: 100%;
		margin: 0 auto;
	}

	.contenedor_cajas_seccion article:nth-child(5) {
		display: none;
	}

	.contenedor_seccion_item { 
		margin-right: 12px;
	}

	.contendor_notas_principales {
		width: 100%;
	}

	.destacado_secundarios_f {
		width: 403px;
	}

	.destacado_secundarios {
		width: 201px;
		border-bottom: 5px solid #ff7340;
	}

	.tit_destacado_sec {
		width: 17%;
		margin: 118px 0 0 0;
	}

	.destacados_terciarios_f {
		width: 400px;
	}

	.destacados_terciarios {
		width: 199px;
		height: 90px;
		border-right: 1px solid #ff7340;
	}

	.tit_destacado_ter {
		width: 188px;
		margin: 50px 0 0 0;
	}

	.contenedor_header {
		width: 100%;
	}

	.contenedor_centro {
		width: 1024px;	
	}

	.logo_crabi {
		margin-right: 25px;
	}

	/* DESPLIEGUE */

	.contenedor_full_nota {
		width: 978px;
		padding: 27px 15px 50px 15px;
	}

	.contenedor_seccion_item_nota {
		float: left;
		width: 120px;
		/*margin-right: 23px;*/
		margin-right: 0px;
	}

	.contenedor_seccion_item_img_nota {
		width: 120px;
		height: 90px;				
	}

	.contenedor_seccion_item_nota h4 {
		width: 80%;
	}

	.contenedor_nota_seleccionada {
		left: 434px;
		width: 120px;
		height: 190px;
	}

	.contenedor_icon_social_sec_nota {
		margin: 60px 0 0 90px;
	}

	.contenedor_contenido_notas_izq {
		width: 46%;
		padding: 19px;
	}

	.contenedor_video img {
		width: 100%;
	}

	.contenedor_social_info img {
		width: 100%;
	}

	.contenedor_contenido_notas_der {
		width: 46%;
		padding: 19px;
	}

	.comentarios_facebook img {
		width: 100%;
	}

	.navegar_x_nota a.ant {
		left: -1%;
	}

	.navegar_x_nota a.sig {
		right: 2%;
	}

	.content {
		width:102%;
	}

	.slick-prev {
		left: -10px;
	}

}


/*@media only screen and (min-width: 481px) and (max-width: 539px) { 

}

@media only screen and (min-width: 540px) and (max-width: 639px) {

}

@media only screen and (min-width: 640px) and (max-width: 767px) { 

}



@media only screen and (min-width: 855px) and (max-width: 960px) { 

} */



